.card-img-top {
    height: 300px; /* Ajustar la altura de la imagen */
    object-fit: contain; /* Mantener las proporciones de la imagen */
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
}

.card {
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 15px; /* Bordes redondeados */
    overflow: hidden; /* Ocultar contenido desbordado */
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px; /* Ajustar el padding para mejorar la presentación */
}

.card-title {
    font-size: 1.5rem; /* Ajustar el tamaño de la fuente del título */
    margin-bottom: 10px; /* Añadir margen inferior para separación */
}

.card-text {
    font-size: 1rem; /* Ajustar el tamaño de la fuente del texto */
    margin-bottom: 10px; /* Añadir margen inferior para separación */
}


.fa-heart {
    margin-top: 10px; /* Añadir margen superior para separación */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el icono */
}